openapi: 3.1.1
info:
  title: API Médicaments FR
  description: |
    API haute performance pour accéder aux données des médicaments français issus de la Base de Données Publique des Médicaments (BDPM).

    **Caractéristiques principales :**
    - Données officielles mises à jour automatiquement 2 fois par jour (6h et 18h)
    - Accès gratuit avec rate limiting équitable (1000 tokens initiaux, recharge à 3 tokens/sec)
    - Données intègres et non altérées depuis la source BDPM
    - Endpoints v1 modernes + endpoints legacy (dépréciés, suppression prévue le 31 juillet 2026)

    **Remarque :** Les endpoints legacy sont toujours fonctionnels mais seront supprimés. Veuillez migrer vers les endpoints v1.

    **Ressources utiles:**
    - [Guide de migration vers v1](https://github.com/Giygas/medicaments-api/blob/main/docs/MIGRATION.md)
    - [Base de données BDPM](https://base-donnees-publique.medicaments.gouv.fr)

  version: 1.1.0
  contact:
    name: GitHub Repository
    url: https://github.com/giygas/medicaments-api
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://medicaments-api.giygas.dev/

security: []

tags:
  - name: Médicaments (v1)
    description: Points de terminaison v1 liés aux médicaments
  - name: Génériques (v1)
    description: Points de terminaison v1 des groupes de médicaments génériques
  - name: Présentations (v1)
    description: Points de terminaison v1 des présentations de médicaments
  - name: Système
    description: Points de terminaison de santé et d'état du système
  - name: Médicaments (Legacy)
    description: Points de terminaison legacy liés aux médicaments (dépréciés)
  - name: Génériques (Legacy)
    description: Points de terminaison legacy des groupes de médicaments génériques (dépréciés)

paths:
  /v1/medicaments:
    get:
      summary: Obtenir des médicaments (v1)
      description: |
        Recherche et récupération de médicaments avec différents paramètres de requête.
        Seul un paramètre est autorisé à la fois.
      tags:
        - Médicaments (v1)
      parameters:
        - $ref: "#/components/parameters/QueryPage"
        - $ref: "#/components/parameters/QuerySearch"
        - $ref: "#/components/parameters/QueryCip"
      responses:
        "200":
          description: Réponse réussie
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/MedicamentArray"
                  - $ref: "#/components/schemas/PaginatedMedicament"
              examples:
                paginated:
                  summary: Pagination
                  value:
                    data:
                      - cis: "61504672"
                        elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                        formePharmaceutique: "comprimé"
                        voiesAdministration: ["orale"]
                        statusAutorisation: "Autorisation active"
                        typeProcedure: "Procédure nationale"
                        etatComercialisation: "Commercialisée"
                        dateAMM: "2000-01-01"
                        titulaire: "MYLAN SAS"
                        surveillanceRenforcee: "Non"
                        composition: []
                        generiques: []
                        presentation: []
                        conditions: []
                    page: 1
                    pageSize: 10
                    totalItems: 15000
                    maxPage: 1500
                search:
                  summary: Recherche par nom
                  value:
                    - cis: "61504672"
                      elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
                    - cis: "60001234"
                      elementPharmaceutique: "DOLIPRANE 1000 mg, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "1998-05-15"
                      titulaire: "SANOFI AVENTIS FRANCE"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
        "400":
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Only one parameter allowed at a time"
                    code: 400
                accents-not-supported:
                  summary: Accents non supportés
                  value:
                    error: "Bad Request"
                    message: "Accents not supported. Try removing them (e.g., use 'ibuprofene' instead of 'ibuprofène')"
                    code: 400
                word-limit-exceeded:
                  summary: Limite de mots dépassée
                  value:
                    error: "Bad Request"
                    message: "search query too complex: maximum 6 words allowed"
                    code: 400
                consecutive-dots:
                  summary: Points consécutifs non autorisés
                  value:
                    error: "Bad Request"
                    message: "input contains consecutive dots which are not allowed"
                    code: 400
        "404":
          description: Aucun résultat
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No medicaments found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /v1/medicaments/export:
    get:
      summary: Exporter tous les médicaments (v1)
      description: |
        Exporter la base de données complète de tous les médicaments.
        Utilisez ETag et Last-Modified headers pour le cache conditionnel.
      tags:
        - Médicaments (v1)
      responses:
        "200":
          description: Réponse réussie avec liste complète
          headers:
            ETag:
              schema:
                type: string
              examples:
                etag-header:
                  value: 'W/"abc123"'
            Last-Modified:
              schema:
                type: string
                format: date-time
              examples:
                last-modified-header:
                  value: "Mon, 15 Jan 2026 06:00:00 GMT"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicamentArray"
              examples:
                export:
                  summary: Export complet
                  value:
                    - cis: "61504672"
                      elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
                    - cis: "61504672"
                      elementPharmaceutique: "PARACETAMOL 500 mg, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
        "400":
          description: Code CIS invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIS"
                    code: 400
        "404":
          description: Médicament non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Medicament not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /v1/medicaments/{cis}:
    get:
      summary: Obtenir un médicament par CIS (v1)
      description: |
        Récupérer un médicament spécifique par son code CIS (Code Identifiant de Spécialité).
      tags:
        - Médicaments (v1)
      parameters:
        - $ref: "#/components/parameters/PathCis"
      responses:
        "200":
          description: Médicament trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Medicament"
              examples:
                medicament:
                  summary: Médicament trouvé
                  value:
                    cis: "61504672"
                    elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                    formePharmaceutique: "comprimé"
                    voiesAdministration: ["orale"]
                    statusAutorisation: "Autorisation active"
                    typeProcedure: "Procédure nationale"
                    etatComercialisation: "Commercialisée"
                    dateAMM: "2000-01-01"
                    titulaire: "MYLAN SAS"
                    surveillanceRenforcee: "Non"
                    composition: []
                    generiques: []
                    presentation: []
                    conditions: []
        "400":
          description: Code CIS invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIS"
                    code: 400
        "404":
          description: Médicament non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Medicament not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /v1/generiques:
    get:
      summary: Rechercher des groupes génériques par libellé (v1)
      description: |
        Recherche et récupération de groupes génériques par libellé.
        Seul un paramètre est autorisé à la fois.
      tags:
        - Génériques (v1)
      parameters:
        - $ref: "#/components/parameters/QueryLibelle"
        - $ref: "#/components/parameters/QueryGroup"
      responses:
        "200":
          description: Réponse réussie
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeneriqueListResponse"
              examples:
                search:
                  summary: Recherche par libellé
                  value:
                    - groupID: 1368
                      libelle: "PARACETAMOL 400 mg + CAFEINE 50 mg + CODEINE (PHOSPHATE DE) HEMIHYDRATE 20 mg - PRONTALGINE, comprimé"
                      medicaments:
                        - cis: "61644230"
                          elementPharmaceutique: "PRONTALGINE, comprimé"
                          formePharmaceutique: "comprimé"
                          type: "Princeps"
                          composition:
                            - elementPharmaceutique: "comprimé"
                              substance: "CAFÉINE ANHYDRE"
                              dosage: "50,0 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PARACÉTAMOL"
                              dosage: "400,0 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PHOSPHATE DE CODÉINE HÉMIHYDRATÉ"
                              dosage: "20,0 mg"
                        - cis: "63399979"
                          elementPharmaceutique: "PARACETAMOL/CAFEINE/CODEINE ARROW 400 mg/50 mg/20 mg, comprimé"
                          formePharmaceutique: "comprimé"
                          type: "Générique"
                          composition:
                            - elementPharmaceutique: "comprimé"
                              substance: "CAFÉINE ANHYDRE"
                              dosage: "50 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PARACÉTAMOL"
                              dosage: "400 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PHOSPHATE DE CODÉINE HÉMIHYDRATÉ"
                              dosage: "20 mg"
                      orphanCIS: [61586325]
                    - groupID: 1643
                      libelle: "PARACETAMOL 500 mg + CODEINE (PHOSPHATE DE) HEMIHYDRATE 30 mg - DAFALGAN CODEINE, comprimé pelliculé"
                      medicaments:
                        - cis: "66003374"
                          elementPharmaceutique: "DAFALGAN CODEINE, comprimé pelliculé"
                          formePharmaceutique: "comprimé pelliculé"
                          type: "Princeps"
                          composition:
                            - elementPharmaceutique: "comprimé pelliculé"
                              substance: "PARACÉTAMOL"
                              dosage: "500 mg"
                            - elementPharmaceutique: "comprimé pelliculé"
                              substance: "CODÉINE (PHOSPHATE DE) HÉMIHYDRATÉ"
                              dosage: "30 mg"
                        - cis: "69458587"
                          elementPharmaceutique: "PARACETAMOL/CODEINE BIOGARAN 500 mg/30 mg, comprimé"
                          formePharmaceutique: "comprimé"
                          type: "Générique"
                          composition:
                            - elementPharmaceutique: "comprimé"
                              substance: "PARACÉTAMOL"
                              dosage: "500,00 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PHOSPHATE DE CODÉINE HÉMIHYDRATÉ"
                              dosage: "30,00 mg"
                      orphanCIS: null
        "400":
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Needs libelle param"
                    code: 400
        "404":
          description: Aucun générique trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No generiques found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /v1/presentations/{cip}:
    get:
      summary: Obtenir des présentations (v1)
      description: |
        Recherche de présentations par code CIP (CIP7 ou CIP13).
      tags:
        - Présentations (v1)
      parameters:
        - $ref: "#/components/parameters/PathCip"
      responses:
        "200":
          description: Réponse réussie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresentationResponse"
              examples:
                presentation:
                  value:
                    cis: "60904643"
                    cip7: "2756239"
                    libelle: "CODOLIPRANE 500 mg/30 mg, comprimé (16)"
                    statusAdministratif: "Présentation active"
                    etatComercialisation: "Commercialisée"
                    dateDeclaration: "1965-01-19"
                    cip13: "3400936403114"
                    agreement: "non"
                    tauxRemboursement: "65%"
                    prix: 3.85
        "400":
          description: Code CIP invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIP"
                    code: 400
        "404":
          description: Présentation non trouvée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Presentation not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /v1/generiques/{groupID}:
    get:
      summary: Obtenir un groupe générique par ID (v1)
      description: |
        Récupérer un groupe générique spécifique par son ID.
        Utilisez ETag et Last-Modified headers pour le cache conditionnel.
      tags:
        - Génériques (v1)
      parameters:
        - $ref: "#/components/parameters/PathGroupID"
      responses:
        "200":
          description: Groupe générique trouvé
          headers:
            ETag:
              schema:
                type: string
              examples:
                etag-header:
                  value: 'W/"abc123"'
            Last-Modified:
              schema:
                type: string
                format: date-time
              examples:
                last-modified-header:
                  value: "Mon, 15 Jan 2026 06:00:00 GMT"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneriqueListResponse"
              examples:
                generique:
                  summary: Groupe générique trouvé
                  value:
                    groupID: 1643
                    libelle: "PARACETAMOL 500 mg + CODEINE (PHOSPHATE DE) HEMIHYDRATE 30 mg - DAFALGAN CODEINE, comprimé pelliculé"
                    medicaments:
                      - cis: "66003374"
                        elementPharmaceutique: "DAFALGAN CODEINE, comprimé pelliculé"
                        formePharmaceutique: "comprimé pelliculé"
                        type: "Princeps"
                        composition: []
                    orphanCIS: null
        "400":
          description: ID de groupe invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid group ID"
                    code: 400
        "404":
          description: Groupe générique non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Generique group not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /v1/diagnostics:
    get:
      summary: Obtenir les diagnostics système détaillés (v1)
      description: |
        Endpoint de monitoring avancé fournissant des métriques système détaillées et un rapport d'intégrité des données.

        **Informations fournies :**
        - Métriques système : uptime, mémoire, goroutines
        - Intégrité des données : médicaments sans conditions, génériques, présentations, compositions
        - Métriques de données : âge des données, prochaine mise à jour planifiée

        Cache de 10 secondes pour éviter le spam tout en gardant les données fraîches.
      tags:
        - Système
      responses:
        "200":
          description: Diagnostics système
          headers:
            Cache-Control:
              schema:
                type: string
              examples:
                cache-header:
                  value: "public, max-age=10"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagnosticsResponse"
              examples:
                diagnostics:
                  summary: Diagnostics système complets
                  value:
                    timestamp: "2026-01-15T14:30:45Z"
                    uptime_seconds: 86400
                    next_update: "2026-01-15T18:00:00Z"
                    data_age_hours: 2.5
                    system:
                      goroutines: 45
                      memory:
                        alloc_mb: 130
                        sys_mb: 150
                        num_gc: 25
                    data_integrity:
                      medicaments_without_conditions:
                        count: 1250
                        sample_cis: [60012345, 60023456]
                      medicaments_without_generiques:
                        count: 8450
                        sample_cis: [61504672, 61001234]
                      medicaments_without_presentations:
                        count: 3200
                        sample_cis: [62003456, 62004567]
                      medicaments_without_compositions:
                        count: 890
                        sample_cis: [63005678, 63006789]
                      generique_only_cis:
                        count: 45
                        sample_cis: [64007890, 64008901]
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /health:
    get:
      summary: Point de terminaison de vérification de santé
      description: |
        Vérifier l'état de santé de l'API et de la base de données.

        **États possibles :**
        - `healthy` : API opérationnelle avec données fraîches (< 24h)
        - `degraded` : API opérationnelle mais données âgées (> 24h) OU mise à jour bloquée depuis longtemps (> 6h)
        - `unhealthy` : API non opérationnelle (plusieurs causes possibles)

        **Conditions d'état unhealthy (503) :**
        - Aucun médicament dans la base de données
        - Aucun générique dans la base de données
        - Données très anciennes (> 48 heures)
        - Mise à jour bloquée depuis longtemps (> 6 heures)

        **Conditions d'état degraded (200) :**
        - Données âgées (> 24 heures et ≤ 48 heures)
        - Mise à jour en cours depuis longtemps (> 6 heures et ≤ 48 heures)
      tags:
        - Système
      responses:
        "200":
          description: État de santé normal ou dégradé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                healthy:
                  summary: État de santé normal (données fraîches)
                  value:
                    status: "healthy"
                    data:
                      last_update: "2026-01-15T06:00:00Z"
                      data_age_hours: 2.5
                      medicaments: 15420
                      generiques: 5200
                      is_updating: false
                degraded_old_data:
                  summary: État de santé dégradé (données âgées)
                  value:
                    status: "degraded"
                    data:
                      last_update: "2026-01-14T06:00:00Z"
                      data_age_hours: 26.5
                      medicaments: 15420
                      generiques: 5200
                      is_updating: false
                degraded_stuck_update:
                  summary: État de santé dégradé (mise à jour bloquée)
                  value:
                    status: "degraded"
                    data:
                      last_update: "2026-01-14T06:00:00Z"
                      data_age_hours: 8.0
                      medicaments: 15420
                      generiques: 5200
                      is_updating: true
        "503":
          description: "Service non disponible (unhealthy) - peut être dû à : absence de données, données très anciennes (> 48h), ou mise à jour bloquée"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                no_medicaments:
                  summary: Aucun médicament dans la base
                  value:
                    error: "Service Unavailable"
                    message: "No medicaments in database"
                    code: 503
                no_generiques:
                  summary: Aucun générique dans la base
                  value:
                    error: "Service Unavailable"
                    message: "No generiques in database"
                    code: 503
                severely_stale_data:
                  summary: Données très anciennes (> 48 heures)
                  value:
                    error: "Service Unavailable"
                    message: "Data too old (more than 48 hours)"
                    code: 503
                stuck_updating:
                  summary: Mise à jour bloquée depuis longtemps
                  value:
                    error: "Service Unavailable"
                    message: "Update stuck for more than 6 hours"
                    code: 503

  /database:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir tous les médicaments"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Récupérer la liste complète de tous les médicaments dans la base de données.

        **Migration :** Utilisez `/v1/medicaments/export` à la place.
      tags:
        - Médicaments (Legacy)
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments/export>; rel="successor-version"'
            X-Deprecated:
              schema:
                type: string
              examples:
                x-deprecated-header:
                  value: "Use /v1/medicaments/export instead"
            Warning:
              schema:
                type: string
              examples:
                warning-header:
                  value: '299 - "Deprecated endpoint"'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Medicament"
              examples:
                database:
                  summary: Liste complète (legacy)
                  value:
                    - cis: "61504672"
                      elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
                    - cis: "61504672"
                      elementPharmaceutique: "PARACETAMOL 500 mg, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /database/{pageNumber}:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir des médicaments par page"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Pagination de la base de données (10 éléments/page).

        **Migration :** Utilisez `/v1/medicaments?page={n}` à la place.
      tags:
        - Médicaments (Legacy)
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: Numéro de page
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments?page=1>; rel="successor-version"'
            X-Deprecated:
              schema:
                type: string
              examples:
                x-deprecated-header:
                  value: "Use /v1/medicaments?page={n} instead"
            Warning:
              schema:
                type: string
              examples:
                warning-header:
                  value: '299 - "Deprecated endpoint"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Medicament"
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  totalItems:
                    type: integer
                  maxPage:
                    type: integer
        "400":
          description: Numéro de page invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid page number"
                    code: 400
        "404":
          description: Page non trouvée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Page not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicament/{element}:
    get:
      deprecated: true
      summary: "[LEGACY] Rechercher des médicaments par nom"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Rechercher des médicaments par dénomination (insensible à la casse).

        **Migration :** Utilisez `/v1/medicaments?search={query}` à la place.
      tags:
        - Médicaments (Legacy)
      parameters:
        - name: element
          in: path
          required: true
          description: Terme de recherche (3-50 caractères, lettres, chiffres, espaces, et caractères spéciaux autorisés)
          schema:
            type: string
            minLength: 3
            maxLength: 50
            pattern: "^[a-zA-Z0-9\\s\\-\\.\\+/']+$"
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments?search=paracetamol>; rel="successor-version"'
            X-Deprecated:
              schema:
                type: string
              examples:
                x-deprecated-header:
                  value: "Use /v1/medicaments?search={query} instead"
            Warning:
              schema:
                type: string
              examples:
                warning-header:
                  value: '299 - "Deprecated endpoint"'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Medicament"
        "400":
          description: Terme de recherche invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid search term: must be alphanumeric with spaces, max 50 characters"
                    code: 400
        "404":
          description: Aucun médicament trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No medicaments found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicament/id/{cis}:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir un médicament par code CIS"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Récupérer un médicament spécifique par son CIS (Code Identifiant de Spécialité).

        **Migration :** Utilisez `/v1/medicaments/{cis}` à la place.
      tags:
        - Médicaments (Legacy)
      parameters:
        - name: cis
          in: path
          required: true
          description: Code CIS (entier positif inférieur à 1 000 000 000)
          schema:
            type: integer
            minimum: 1
            maximum: 999999999
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments/61504672>; rel="successor-version"'
            X-Deprecated:
              schema:
                type: string
              examples:
                x-deprecated-header:
                  value: "Use /v1/medicaments/{cis} instead"
            Warning:
              schema:
                type: string
              examples:
                warning-header:
                  value: '299 - "Deprecated endpoint"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Medicament"
        "400":
          description: Code CIS invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIS"
                    code: 400
        "404":
          description: Médicament non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Medicament not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /generiques/{libelle}:
    get:
      deprecated: true
      summary: "[LEGACY] Rechercher des groupes génériques par nom"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Rechercher des groupes génériques par libellé (insensible à la casse).

        **Migration :** Utilisez `/v1/generiques?libelle={nom}` à la place.
      tags:
        - Génériques (Legacy)
      parameters:
        - name: libelle
          in: path
          required: true
          description: Terme de recherche (3-50 caractères, lettres, chiffres, espaces, et caractères spéciaux autorisés)
          schema:
            type: string
            minLength: 3
            maxLength: 50
            pattern: "^[a-zA-Z0-9\\s\\-\\.\\+/']+$"
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/generiques?libelle=paracetamol>; rel="successor-version"'
            X-Deprecated:
              schema:
                type: string
              examples:
                x-deprecated-header:
                  value: "Use /v1/generiques?libelle={nom} instead"
            Warning:
              schema:
                type: string
              examples:
                warning-header:
                  value: '299 - "Deprecated endpoint"'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeneriqueListResponse"
        "400":
          description: Terme de recherche invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid search term: must be alphanumeric with spaces, max 50 characters"
                    code: 400
        "404":
          description: Aucun générique trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No generiques found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /generiques/group/{groupId}:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir un groupe générique par ID"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Récupérer un groupe générique spécifique par son ID de groupe.

        **Migration :** Utilisez `/v1/generiques/{groupID}` à la place.
      tags:
        - Génériques (Legacy)
      parameters:
        - name: groupId
          in: path
          required: true
          description: ID de groupe (entier positif inférieur à 100 000)
          schema:
            type: integer
            minimum: 1
            maximum: 99999
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/generiques/1234>; rel="successor-version"'
            X-Deprecated:
              schema:
                type: string
              examples:
                x-deprecated-header:
                  value: "Use /v1/generiques/{groupID} instead"
            Warning:
              schema:
                type: string
              examples:
                warning-header:
                  value: '299 - "Deprecated endpoint"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneriqueResponse"
        "400":
          description: ID de groupe invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid group ID"
                    code: 400
        "404":
          description: Groupe générique non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Generique group not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  parameters:
    QueryPage:
      name: page
      in: query
      required: false
      description: Numéro de page (pagination à 10 éléments par page)
      schema:
        type: integer
        minimum: 1
    QuerySearch:
      name: search
      in: query
      required: false
      description: |
        Terme de recherche multi-mots (1-6 mots requis, logique ET).
        Les mots sont séparés par + ou espace dans l'URL.
        Minimum 3 caractères, maximum 50 caractères.
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: "^[a-zA-Z0-9\\s\\-\\.\\+/']+$"
    QueryCip:
      name: cip
      in: query
      required: false
      description: Code CIP (CIP7 ou CIP13)
      schema:
        type: string
        pattern: "^[0-9]{7}|[0-9]{13}$"
    QueryLibelle:
      name: libelle
      in: query
      required: false
      description: |
        Terme de recherche multi-mots (1-6 mots requis, logique ET).
        Les mots sont séparés par + ou espace dans l'URL.
        Minimum 3 caractères, maximum 50 caractères.
        Note: Les données source BDPM sont en majuscules sans accents (ex: PARACETAMOL).
        Utilisez des caractères ASCII (sans accents).
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: "^[a-zA-Z0-9\\s\\-\\.\\+/']+$"
    QueryGroup:
      name: group
      in: query
      required: false
      description: ID de groupe (entier positif)
      schema:
        type: integer
        minimum: 1
        maximum: 99999
    PathCis:
      name: cis
      in: path
      required: true
      description: Code CIS
      schema:
        type: string
        pattern: "^[0-9]{1,9}$"
    PathCip:
      name: cip
      in: path
      required: true
      description: Code CIP (CIP7 ou CIP13)
      schema:
        type: string
        pattern: "^[0-9]{7}|[0-9]{13}$"
    PathGroupId:
      name: groupId
      in: path
      required: true
      description: ID de groupe (entier positif inférieur à 100 000)
      schema:
        type: integer
        minimum: 1
        maximum: 99999
    PathGroupID:
      name: groupID
      in: path
      required: true
      description: ID de groupe (entier positif inférieur à 100 000)
      schema:
        type: integer
        minimum: 1
        maximum: 99999
  schemas:
    PaginatedMedicament:
      type: object
      title: PaginatedMedicament
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Medicament"
          title: Données des médicaments
        page:
          type: integer
          title: Numéro de page
        pageSize:
          type: integer
          title: Taille de page
        totalItems:
          type: integer
          title: Nombre total d'éléments
        maxPage:
          type: integer
          title: Page maximum
    Medicament:
      type: object
      title: Medicament
      properties:
        cis:
          type: string
          pattern: "^[0-9]{1,9}$"
          title: Code CIS
        elementPharmaceutique:
          type: string
          title: Nom pharmaceutique
        formePharmaceutique:
          type: string
          title: Forme pharmaceutique
        voiesAdministration:
          type: array
          items:
            type: string
          title: Voies d'administration
        statusAutorisation:
          type: string
          title: Statut d'autorisation
        typeProcedure:
          type: string
          title: Type de procédure
        etatComercialisation:
          type: string
          title: Statut de commercialisation
        dateAMM:
          type: string
          format: date
          title: Date AMM
        titulaire:
          type: string
          title: Titulaire de l'autorisation
        surveillanceRenforcee:
          type: string
          title: Surveillance renforcée
        composition:
          type: array
          items:
            $ref: "#/components/schemas/CompositionItem"
          title: Composition
        generiques:
          type: array
          items:
            $ref: "#/components/schemas/GeneriqueItem"
          title: Génériques associés
        presentation:
          type: array
          items:
            $ref: "#/components/schemas/PresentationResponse"
          title: Présentations disponibles
        conditions:
          type: array
          items:
            type: string
          title: Conditions de prescription

    GeneriqueResponse:
      type: object
      title: GeneriqueResponse
      properties:
        cis:
          type: string
          pattern: "^[0-9]{1,9}$"
          title: Code CIS
        group:
          type: string
          pattern: "^[0-9]+$"
          title: ID de groupe générique
        libelle:
          type: string
          title: Libellé de groupe générique

    PresentationResponse:
      type: object
      title: PresentationResponse
      properties:
        cis:
          type: string
          pattern: "^[0-9]{1,9}$"
          title: Code CIS
        cip7:
          type: string
          pattern: "^[0-9]{7}$"
          title: Code CIP-7
        libelle:
          type: string
          title: Libellé de présentation
        statusAdministratif:
          type: string
          title: Statut administratif
        etatComercialisation:
          type: string
          title: Statut de commercialisation
        dateDeclaration:
          type: string
          format: date
          title: Date de déclaration
        cip13:
          type: string
          pattern: "^[0-9]{13}$"
          title: Code CIP-13
        agreement:
          type: string
          title: Statut d'agrément
        tauxRemboursement:
          type: string
          title: Taux de remboursement
        prix:
          type: number
          format: float
          title: Prix

    GeneriqueListResponse:
      type: object
      title: GeneriqueListResponse
      properties:
        groupID:
          type: string
          pattern: "^[0-9]+$"
          title: ID de groupe générique
        libelle:
          type: string
          title: Libellé de groupe générique
        medicaments:
          type: array
          items:
            $ref: "#/components/schemas/GeneriqueMedicament"
          title: Liste des médicaments du groupe
        orphanCIS:
          type: array
          items:
            type: integer
          nullable: true
          title: CIS orphelins
          description: |
            Liste des codes CIS référencés dans le groupe générique mais sans entrée médicament correspondante dans la base de données.
            Ces CIS n'ont pas de données détaillées disponibles (composition, forme pharmaceutique, type, etc.).
            Peut être :
            - Un tableau d'entiers : [61586325, 60473805]
            - Null : null (si le groupe ne contient aucun CIS orphelin)
    ErrorResponse:
      type: object
      title: ErrorResponse
      properties:
        error:
          type: string
          title: Statut d'erreur
        message:
          type: string
          title: Message d'erreur
        code:
          type: integer
          title: Code de statut HTTP
    MedicamentArray:
      type: array
      title: MedicamentArray
      items:
        $ref: "#/components/schemas/Medicament"
    CompositionItem:
      type: object
      title: CompositionItem
      properties:
        cis:
          type: string
          pattern: "^[0-9]{1,9}$"
          title: Code CIS
        elementPharmaceutique:
          type: string
          title: Élément pharmaceutique
        codeSubstance:
          type: string
          pattern: "^[0-9]+$"
          title: Code de substance
        denominationSubstance:
          type: string
          title: Dénomination de substance
        dosage:
          type: string
          title: Dosage
        referenceDosage:
          type: string
          title: Dosage de référence
        natureComposant:
          type: string
          title: Nature du composant
    GeneriqueItem:
      type: object
      title: GeneriqueItem
      properties:
        cis:
          type: string
          pattern: "^[0-9]{1,9}$"
          title: Code CIS
        group:
          type: string
          pattern: "^[0-9]+$"
          title: ID de groupe générique
        libelle:
          type: string
          title: Libellé de groupe générique
    GeneriqueMedicament:
      type: object
      title: GeneriqueMedicament
      properties:
        cis:
          type: string
          pattern: "^[0-9]{1,9}$"
          title: Code CIS
        elementPharmaceutique:
          type: string
          title: Nom pharmaceutique
        formePharmaceutique:
          type: string
          title: Forme pharmaceutique
        type:
          type: string
          title: Type de générique
        composition:
          type: array
          items:
            $ref: "#/components/schemas/GeneriqueCompositionItem"
          title: Composition pour groupement générique
    GeneriqueCompositionItem:
      type: object
      title: GeneriqueCompositionItem
      properties:
        elementPharmaceutique:
          type: string
          title: Élément pharmaceutique
        substance:
          type: string
          title: Nom de substance
        dosage:
          type: string
          title: Dosage
    HealthResponse:
      type: object
      title: HealthResponse
      properties:
        status:
          type: string
          enum: ["healthy", "degraded", "unhealthy"]
          examples: ["healthy"]
          title: État de santé global de l'API
        data:
          $ref: "#/components/schemas/HealthDataResponse"
    HealthDataResponse:
      type: object
      title: HealthDataResponse
      properties:
        last_update:
          type: string
          format: date-time
          examples: ["2026-01-15T06:00:00Z"]
          title: Date et heure de la dernière mise à jour réussie
        data_age_hours:
          type: number
          format: float
          examples: [2.5]
          title: Âge des données en heures
        medicaments:
          type: integer
          examples: [15420]
          title: Nombre total de médicaments en mémoire
        generiques:
          type: integer
          examples: [5200]
          title: Nombre total de groupes génériques
        is_updating:
          type: boolean
          examples: [false]
          title: Indique si une mise à jour est en cours
    DiagnosticsResponse:
      type: object
      title: DiagnosticsResponse
      properties:
        timestamp:
          type: string
          format: date-time
          examples: ["2026-01-15T14:30:45Z"]
          title: Horodatage de la réponse (ISO 8601)
        uptime_seconds:
          type: number
          format: float
          examples: [86400]
          title: Temps d'exécution de l'application en secondes
        next_update:
          type: string
          format: date-time
          examples: ["2026-01-15T18:00:00Z"]
          title: Prochaine mise à jour planifiée (ISO 8601)
        data_age_hours:
          type: number
          format: float
          examples: [2.5]
          title: Âge des données en heures
        system:
          $ref: "#/components/schemas/SystemMetrics"
        data_integrity:
          $ref: "#/components/schemas/DataIntegrityResponse"
    SystemMetrics:
      type: object
      title: SystemMetrics
      properties:
        goroutines:
          type: integer
          examples: [45]
          title: Nombre de goroutines actives
        memory:
          $ref: "#/components/schemas/MemoryMetrics"
      description: Informations système et performance
    MemoryMetrics:
      type: object
      title: MemoryMetrics
      properties:
        alloc_mb:
          type: integer
          examples: [130]
          title: Mémoire allouée en MB
        sys_mb:
          type: integer
          examples: [150]
          title: Mémoire système en MB
        num_gc:
          type: integer
          examples: [25]
          title: Nombre de cycles de garbage collection
    DataIntegrityResponse:
      type: object
      title: DataIntegrityResponse
      properties:
        medicaments_without_conditions:
          $ref: "#/components/schemas/IntegrityMetric"
        medicaments_without_generiques:
          $ref: "#/components/schemas/IntegrityMetric"
        medicaments_without_presentations:
          $ref: "#/components/schemas/IntegrityMetric"
        medicaments_without_compositions:
          $ref: "#/components/schemas/IntegrityMetric"
        generique_only_cis:
          $ref: "#/components/schemas/IntegrityMetric"
      description: Rapport d'intégrité des données
    IntegrityMetric:
      type: object
      title: IntegrityMetric
      properties:
        count:
          type: integer
          examples: [1250]
          title: Nombre d'éléments concernés
        sample_cis:
          type: array
          items:
            type: integer
          examples: [[60012345, 60023456]]
          title: Exemples de CIS concernés
