openapi: 3.1.1
info:
  title: API Médicaments FR
  description: |
    API haute performance pour accéder aux données des médicaments français issus de la BDPM.

    ## Caractéristiques
    - Mises à jour automatiques 2x/jour (6h/18h)
    - Rate limiting : 1000 tokens initiaux, 3 tokens/sec recharge
    - Totalement gratuite avec système de rate limiting pour éviter le spam
    - Intégrité : Aucune altération des données originales
    - Source : Base de Données Publique des Médicaments (BDPM)

    ## Coûts par endpoint (v1)
    - `/health` : 5 tokens
    - `/v1/medicaments/export` : 200 tokens
    - `/v1/medicaments?page={n}` : 20 tokens
    - `/v1/medicaments?search={query}` : 50 tokens
    - `/v1/medicaments/{cis}` : 10 tokens
    - `/v1/medicaments?cip={code}` : 10 tokens
    - `/v1/generiques?libelle={nom}` : 30 tokens
    - `/v1/generiques?group={id}` : 5 tokens
    - `/v1/presentations/{cip}` : 5 tokens

    ## Endpoints legacy (dépréciés)
    Les endpoints ci-dessous sont dépréciés et seront supprimés le **31 juillet 2026**.
    Veuillez migrer vers les endpoints v1. Consultez la section "Migration" pour plus d'informations.

    Coûts des endpoints legacy :
    - `/database` : 200 tokens
    - `/database/{page}` : 20 tokens
    - `/medicament/{nom}` : 80 tokens
    - `/medicament/id/{cis}` : 10 tokens
    - `/generiques/{libelle}` : 20 tokens
    - `/generiques/group/{id}` : 20 tokens

    ## Rate Limiting
    Les informations relatives au rate limiting se trouvent dans les headers des réponses :
    - X-RateLimit-Limit : Capacité maximale de tokens
    - X-RateLimit-Remaining : Tokens restants pour cette IP
    - X-RateLimit-Rate : Taux de recharge (tokens/sec)

    ## Migration vers v1
    Les endpoints v1 utilisent des paramètres de requête ou de chemin selon l'opération :
    - `/medicament/paracetamol` → `/v1/medicaments?search=paracetamol`
    - `/medicament/id/61504672` → `/v1/medicaments/61504672`
    - `/generiques/paracetamol` → `/v1/generiques?libelle=paracetamol`
    - `/generiques/group/1234` → `/v1/generiques?group=1234`
    - `/database/1` → `/v1/medicaments?page=1`
    - `/database` → `/v1/medicaments/export`

    Les endpoints legacy renvoient les headers de dépréciation suivants :
    - Deprecation: true
    - Sunset: 2026-07-31T23:59:59Z
    - Link: URL de l'endpoint de remplacement
    - X-Deprecated: Message de dépréciation
    - Warning: Avertissement HTTP standard
  version: 1.1.0
  contact:
    name: GitHub Repository
    url: https://github.com/giygas/medicaments-api
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
externalDocs:
  description: Base de données publique des médicaments
  url: https://base-donnees-publique.medicaments.gouv.fr
servers:
  - url: https://medicaments-api.giygas.dev/v1/

paths:
  /medicaments:
    get:
      summary: Obtenir des médicaments (v1)
      description: |
        Recherche et récupération de médicaments avec différents paramètres de requête.
        Seul un paramètre est autorisé à la fois.
        Pour les recherches par CIS ou l'export complet, utilisez les endpoints dédiés :
        - `/v1/medicaments/{cis}` pour la recherche par CIS
        - `/v1/medicaments/export` pour l'export complet
      tags:
        - Médicaments (v1)
      parameters:
        - name: page
          in: query
          required: false
          description: Numéro de page (pagination à 10 éléments par page)
          schema:
            type: integer
            minimum: 1
        - name: search
          in: query
          required: false
          description: Terme de recherche (3-50 caractères, lettres, chiffres, espaces, et caractères spéciaux autorisés)
          schema:
            type: string
            minLength: 3
            maxLength: 50
            pattern: "^[a-zA-Z0-9\\s\\-\\.\\+'àâäéèêëïîôöùûüÿç]+$"
        - name: cip
          in: query
          required: false
          description: Code CIP (CIP7 ou CIP13, entier positif)
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Réponse réussie
          content:
            application/json:
              examples:
                export:
                  summary: Export complet
                  value:
                    - cis: 61504672
                      elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
                paginated:
                  summary: Pagination
                  value:
                    data:
                      - cis: 61504672
                        elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                        formePharmaceutique: "comprimé"
                        voiesAdministration: ["orale"]
                        statusAutorisation: "Autorisation active"
                        typeProcedure: "Procédure nationale"
                        etatComercialisation: "Commercialisée"
                        dateAMM: "2000-01-01"
                        titulaire: "MYLAN SAS"
                        surveillanceRenforcee: "Non"
                        composition: []
                        generiques: []
                        presentation: []
                        conditions: []
                    page: 1
                    pageSize: 10
                    totalItems: 15000
                    maxPage: 1500
                search:
                  summary: Recherche par nom
                  value:
                    - cis: 61504672
                      elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
                    - cis: 60001234
                      elementPharmaceutique: "DOLIPRANE 1000 mg, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "1998-05-15"
                      titulaire: "SANOFI AVENTIS FRANCE"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
        "400":
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Only one parameter allowed at a time"
                    code: 400
        "404":
          description: Aucun résultat
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No medicaments found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /medicaments/export:
    get:
      summary: Exporter tous les médicaments (v1)
      description: |
        Exporter la base de données complète de tous les médicaments.
        Utilisez ETag et Last-Modified headers pour le cache conditionnel.
      tags:
        - Médicaments (v1)
      responses:
        "200":
          description: Réponse réussie avec liste complète
          headers:
            ETag:
              schema:
                type: string
              examples:
                etag-header:
                  value: '"W/"abc123""'
            Last-Modified:
              schema:
                type: string
                format: date-time
              examples:
                last-modified-header:
                  value: "Mon, 15 Jan 2026 06:00:00 GMT"
          content:
            application/json:
              examples:
                export:
                  summary: Export complet
                  value:
                    - cis: 61504672
                      elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "2000-01-01"
                      titulaire: "MYLAN SAS"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
                    - cis: 60904643
                      elementPharmaceutique: "CODOLIPRANE 500 mg/30 mg, comprimé"
                      formePharmaceutique: "comprimé"
                      voiesAdministration: ["orale"]
                      statusAutorisation: "Autorisation active"
                      typeProcedure: "Procédure nationale"
                      etatComercialisation: "Commercialisée"
                      dateAMM: "10/05/2013"
                      titulaire: "OPELLA HEALTHCARE FRANCE"
                      surveillanceRenforcee: "Non"
                      composition: []
                      generiques: []
                      presentation: []
                      conditions: []
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /medicaments/{cis}:
    get:
      summary: Obtenir un médicament par code CIS (v1)
      description: |
        Récupérer un médicament spécifique par son Code Identifiant de Spécialité (CIS).
        C'est un lookup O(1) très rapide.
      tags:
        - Médicaments (v1)
      parameters:
        - name: cis
          in: path
          required: true
          description: Code CIS (Code Identifiant de Spécialité, entier positif)
          schema:
            type: integer
            minimum: 1
            maximum: 999999999
      responses:
        "200":
          description: Réponse réussie
          headers:
            ETag:
              schema:
                type: string
              examples:
                etag-header:
                  value: '"W/"abc123""'
            Last-Modified:
              schema:
                type: string
                format: date-time
              examples:
                last-modified-header:
                  value: "Mon, 15 Jan 2026 06:00:00 GMT"
          content:
            application/json:
              examples:
                medicament:
                  summary: Médicament trouvé
                  value:
                    cis: 61504672
                    elementPharmaceutique: "PARACETAMOL MYLAN 1 g, comprimé"
                    formePharmaceutique: "comprimé"
                    voiesAdministration: ["orale"]
                    statusAutorisation: "Autorisation active"
                    typeProcedure: "Procédure nationale"
                    etatComercialisation: "Commercialisée"
                    dateAMM: "2000-01-01"
                    titulaire: "MYLAN SAS"
                    surveillanceRenforcee: "Non"
                    composition: []
                    generiques: []
                    presentation: []
                    conditions: []
        "400":
          description: Code CIS invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIS"
                    code: 400
        "404":
          description: Médicament non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Medicament not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /generiques:
    get:
      summary: Rechercher des groupes génériques (v1)
      description: |
        Recherche et récupération de groupes génériques avec différents paramètres de requête.
        Seul un paramètre est autorisé à la fois.
      tags:
        - Génériques (v1)
      parameters:
        - name: libelle
          in: query
          required: false
          description: Terme de recherche (3-50 caractères, lettres, chiffres, espaces, et caractères spéciaux autorisés)
          schema:
            type: string
            minLength: 3
            maxLength: 50
            pattern: "^[a-zA-Z0-9\\s\\-\\.\\+'àâäéèêëïîôöùûüÿç]+$"
        - name: group
          in: query
          required: false
          description: ID de groupe (entier positif)
          schema:
            type: integer
            minimum: 1
            maximum: 99999
      responses:
        "200":
          description: Réponse réussie
          content:
            application/json:
              examples:
                search:
                  summary: Recherche par libellé
                  value:
                    - groupID: 1368
                      libelle: "PARACETAMOL 400 mg + CAFEINE 50 mg + CODEINE (PHOSPHATE DE) HEMIHYDRATE 20 mg - PRONTALGINE, comprimé"
                      medicaments:
                        - cis: 61644230
                          elementPharmaceutique: "PRONTALGINE, comprimé"
                          formePharmaceutique: "comprimé"
                          type: "Princeps"
                          composition:
                            - elementPharmaceutique: "comprimé"
                              substance: "CAFÉINE ANHYDRE"
                              dosage: "50,0 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PARACÉTAMOL"
                              dosage: "400,0 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PHOSPHATE DE CODÉINE HÉMIHYDRATÉ"
                              dosage: "20,0 mg"
                        - cis: 63399979
                          elementPharmaceutique: "PARACETAMOL/CAFEINE/CODEINE ARROW 400 mg/50 mg/20 mg, comprimé"
                          formePharmaceutique: "comprimé"
                          type: "Générique"
                          composition:
                            - elementPharmaceutique: "comprimé"
                              substance: "CAFÉINE ANHYDRE"
                              dosage: "50 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PARACÉTAMOL"
                              dosage: "400 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PHOSPHATE DE CODÉINE HÉMIHYDRATÉ"
                              dosage: "20 mg"
                      orphanCIS: [61586325]
                    - groupID: 1643
                      libelle: "PARACETAMOL 500 mg + CODEINE (PHOSPHATE DE) HEMIHYDRATE 30 mg - DAFALGAN CODEINE, comprimé pelliculé"
                      medicaments:
                        - cis: 66003374
                          elementPharmaceutique: "DAFALGAN CODEINE, comprimé pelliculé"
                          formePharmaceutique: "comprimé pelliculé"
                          type: "Princeps"
                          composition:
                            - elementPharmaceutique: "comprimé pelliculé"
                              substance: "PARACÉTAMOL"
                              dosage: "500 mg"
                            - elementPharmaceutique: "comprimé pelliculé"
                              substance: "CODÉINE (PHOSPHATE DE) HÉMIHYDRATÉ"
                              dosage: "30 mg"
                        - cis: 69458587
                          elementPharmaceutique: "PARACETAMOL/CODEINE BIOGARAN 500 mg/30 mg, comprimé"
                          formePharmaceutique: "comprimé"
                          type: "Générique"
                          composition:
                            - elementPharmaceutique: "comprimé"
                              substance: "PARACÉTAMOL"
                              dosage: "500,00 mg"
                            - elementPharmaceutique: "comprimé"
                              substance: "PHOSPHATE DE CODÉINE HÉMIHYDRATÉ"
                              dosage: "30,00 mg"
                      orphanCIS: null
                group:
                  summary: Recherche par ID de groupe
                  value:
                    groupID: 1643
                    libelle: "PARACETAMOL 500 mg + CODEINE (PHOSPHATE DE) HEMIHYDRATE 30 mg - DAFALGAN CODEINE, comprimé pelliculé"
                    medicaments:
                      - cis: 66003374
                        elementPharmaceutique: "DAFALGAN CODEINE, comprimé pelliculé"
                        formePharmaceutique: "comprimé pelliculé"
                        type: "Princeps"
                        composition:
                          - elementPharmaceutique: "comprimé pelliculé"
                            substance: "PARACETAMOL"
                            dosage: "500 mg"
                          - elementPharmaceutique: "comprimé pelliculé"
                            substance: "CODÉINE (PHOSPHATE DE) HÉMIHYDRATÉ"
                            dosage: "30 mg"
                      - cis: 69458587
                        elementPharmaceutique: "PARACETAMOL/CODEINE BIOGARAN 500 mg/30 mg, comprimé"
                        formePharmaceutique: "comprimé"
                        type: "Générique"
                        composition:
                          - elementPharmaceutique: "comprimé"
                            substance: "PARACÉTAMOL"
                            dosage: "500 mg"
                          - elementPharmaceutique: "comprimé"
                            substance: "CODÉINE (PHOSPHATE DE) HÉMIHYDRATÉ"
                            dosage: "30 mg"
                    orphanCIS: null
        "400":
          description: Paramètres invalides
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Needs libelle or group param"
                    code: 400
        "404":
          description: Aucun générique trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No generiques found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /presentations/{cip}:
    get:
      summary: Obtenir des présentations (v1)
      description: |
        Recherche de présentations par code CIP (CIP7 ou CIP13).

        **Paramètre disponible :**
        - `/{cip}` : Code CIP dans le chemin (5 tokens)

        **Exemple :**
        ```
        /v1/presentations/3400936403114
        ```
      tags:
        - Présentations (v1)
      parameters:
        - name: cip
          in: path
          required: true
          description: Code CIP (CIP7 ou CIP13, entier positif)
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Réponse réussie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresentationResponse"
              examples:
                presentation:
                  value:
                    cis: 60904643
                    cip7: 3400936403114
                    libelle: "CODOLIPRANE 500 mg/30 mg, comprimé (16)"
                    statusAdministratif: "Présentation active"
                    etatComercialisation: "Commercialisée"
                    dateDeclaration: "19/01/1965"
                    cip13: 3400936403114
                    agreement: "non"
                    tauxRemboursement: "65%"
                    prix: 3.85
        "400":
          description: Code CIP invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIP"
                    code: 400
        "404":
          description: Présentation non trouvée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Presentation not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

  /database:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir tous les médicaments"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Récupérer la liste complète de tous les médicaments dans la base de données.

        **Migration :** Utilisez `/v1/medicaments/export` à la place.
      tags:
        - Médicaments (Legacy)
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments/export>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MedicamentResponse"
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /database/{pageNumber}:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir des médicaments par page"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Pagination de la base de données (10 éléments/page).

        **Migration :** Utilisez `/v1/medicaments?page={n}` à la place.
      tags:
        - Médicaments (Legacy)
      parameters:
        - name: pageNumber
          in: path
          required: true
          description: Numéro de page
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments?page=1>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedicamentResponse"
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  totalItems:
                    type: integer
                  maxPage:
                    type: integer
        "400":
          description: Numéro de page invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid page number"
                    code: 400
        "404":
          description: Page non trouvée
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Page not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicament/{element}:
    get:
      deprecated: true
      summary: "[LEGACY] Rechercher des médicaments par nom"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Rechercher des médicaments par dénomination (insensible à la casse).

        **Migration :** Utilisez `/v1/medicaments?search={query}` à la place.
      tags:
        - Médicaments (Legacy)
      parameters:
        - name: element
          in: path
          required: true
          description: Terme de recherche (3-50 caractères, lettres, chiffres, espaces, et caractères spéciaux autorisés)
          schema:
            type: string
            minLength: 3
            maxLength: 50
            pattern: "^[a-zA-Z0-9\\s\\-\\.\\+'àâäéèêëïîôöùûüÿç]+$"
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments?search=paracetamol>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MedicamentResponse"
        "400":
          description: Terme de recherche invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid search term: must be alphanumeric with spaces, max 50 characters"
                    code: 400
        "404":
          description: Aucun médicament trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No medicaments found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /medicament/id/{cis}:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir un médicament par code CIS"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Récupérer un médicament spécifique par son CIS (Code Identifiant de Spécialité).

        **Migration :** Utilisez `/v1/medicaments/{cis}` à la place.
      tags:
        - Médicaments (Legacy)
      parameters:
        - name: cis
          in: path
          required: true
          description: Code CIS (entier positif inférieur à 1 000 000 000)
          schema:
            type: integer
            minimum: 1
            maximum: 999999999
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/medicaments/61504672>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicamentResponse"
        "400":
          description: Code CIS invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid CIS"
                    code: 400
        "404":
          description: Médicament non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Medicament not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /generiques/{libelle}:
    get:
      deprecated: true
      summary: "[LEGACY] Rechercher des groupes génériques par nom"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Rechercher des groupes génériques par libellé (insensible à la casse).

        **Migration :** Utilisez `/v1/generiques?libelle={nom}` à la place.
      tags:
        - Génériques (Legacy)
      parameters:
        - name: libelle
          in: path
          required: true
          description: Terme de recherche (3-50 caractères, lettres, chiffres, espaces, et caractères spéciaux autorisés)
          schema:
            type: string
            minLength: 3
            maxLength: 50
            pattern: "^[a-zA-Z0-9\\s\\-\\.\\+'àâäéèêëïîôöùûüÿç]+$"
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/generiques?libelle=paracetamol>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GeneriqueListResponse"
        "400":
          description: Terme de recherche invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid search term: must be alphanumeric with spaces, max 50 characters"
                    code: 400
        "404":
          description: Aucun générique trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "No generiques found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /generiques/group/{groupId}:
    get:
      deprecated: true
      summary: "[LEGACY] Obtenir un groupe générique par ID"
      description: |
        **DEPRÉCIÉ - Ce endpoint sera supprimé le 31 juillet 2026**

        Récupérer un groupe générique spécifique par son ID de groupe.

        **Migration :** Utilisez `/v1/generiques?group={id}` à la place.
      tags:
        - Génériques (Legacy)
      parameters:
        - name: groupId
          in: path
          required: true
          description: ID de groupe (entier positif inférieur à 100 000)
          schema:
            type: integer
            minimum: 1
            maximum: 99999
      responses:
        "200":
          description: Réponse réussie
          headers:
            Deprecation:
              schema:
                type: string
              examples:
                deprecation-header:
                  value: "true"
            Sunset:
              schema:
                type: string
                format: date-time
              examples:
                sunset-date:
                  value: "2026-07-31T23:59:59Z"
            Link:
              schema:
                type: string
              examples:
                successor-version:
                  value: '<https://medicaments-api.giygas.dev/v1/generiques?group=1234>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeneriqueResponse"
        "400":
          description: ID de groupe invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                bad-request:
                  value:
                    error: "Bad Request"
                    message: "Invalid group ID"
                    code: 400
        "404":
          description: Groupe générique non trouvé
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not-found:
                  value:
                    error: "Not Found"
                    message: "Generique group not found"
                    code: 404
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health:
    get:
      summary: Point de terminaison de vérification de santé
      description: Vérifier l'état de santé de l'API et de la base de données
      tags:
        - Système
      responses:
        "200":
          description: État du système
          content:
            application/json:
              schema:
                type: object
                schemas:
                  status:
                    type: string
                    enum: ["healthy", "degraded", "unhealthy"]
                    examples: ["healthy"]
                    description: État de santé global de l'API
                  uptime_seconds:
                    type: integer
                    examples: [86400]
                    description: Temps de fonctionnement en secondes
                  uptime_human:
                    type: string
                    examples: ["1d 2h 30m 45s"]
                    description: Temps de fonctionnement au format lisible
                  last_updated:
                    type: string
                    format: date-time
                    examples: ["2026-01-15T06:00:00Z"]
                    description: Date et heure de la dernière mise à jour réussie
                  data:
                    type: object
                    properties:
                      medicament_count:
                        type: integer
                        examples: [15420]
                        description: Nombre total de médicaments dans la base
                      generique_count:
                        type: integer
                        examples: [5200]
                        description: Nombre total de groupes génériques
                      data_age_hours:
                        type: number
                        format: float
                        examples: [2.5]
                        description: Âge des données en heures depuis la dernière mise à jour
                      next_update:
                        type: string
                        format: date-time
                        examples: ["2026-01-15T18:00:00Z"]
                        description: Prochaine mise à jour planifiée
                  description: Informations sur les données de l'API
                  system:
                    type: object
                    properties:
                      updating:
                        type: boolean
                        examples: [false]
                        description: Indique si une mise à jour est en cours
                      memory_usage_mb:
                        type: integer
                        examples: [130]
                        description: Utilisation mémoire en MB
                      goroutines:
                        type: integer
                        examples: [45]
                        description: Nombre de goroutines actives
                      description: Informations système et performance
              examples:
                healthy:
                  summary: État de santé normal
                  value:
                    status: "healthy"
                    uptime_seconds: 86400
                    uptime_human: "1d 0h 0m 0s"
                    last_updated: "2026-01-15T06:00:00Z"
                    data:
                      medicament_count: 15420
                      generique_count: 5200
                      data_age_hours: 2.5
                      next_update: "2026-01-15T18:00:00Z"
                    system:
                      updating: false
                      memory_usage_mb: 130
                      goroutines: 45
        "500":
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                internal-error:
                  value:
                    error: "Internal Server Error"
                    message: "Internal server error"
                    code: 500

tags:
  - name: Médicaments (v1)
    description: Points de terminaison v1 liés aux médicaments
  - name: Génériques (v1)
    description: Points de terminaison v1 des groupes de médicaments génériques
  - name: Présentations (v1)
    description: Points de terminaison v1 des présentations de médicaments
  - name: Médicaments (Legacy)
    description: Points de terminaison legacy liés aux médicaments (dépréciés)
  - name: Génériques (Legacy)
    description: Points de terminaison legacy des groupes de médicaments génériques (dépréciés)
  - name: Système
    description: Points de terminaison de santé et d'état du système

components:
  schemas:
    MedicamentResponse:
      type: object
      title: MedicamentResponse
      properties:
        cis:
          type: integer
          title: Code CIS
        elementPharmaceutique:
          type: string
          title: Nom pharmaceutique
        formePharmaceutique:
          type: string
          title: Forme pharmaceutique
        voiesAdministration:
          type: array
          items:
            type: string
          title: Voies d'administration
        statusAutorisation:
          type: string
          title: Statut d'autorisation
        typeProcedure:
          type: string
          title: Type de procédure
        etatComercialisation:
          type: string
          title: Statut de commercialisation
        dateAMM:
          type: string
          title: Date AMM
        titulaire:
          type: string
          title: Titulaire de l'autorisation
        surveillanceRenforcee:
          type: string
          title: Surveillance renforcée
        composition:
          type: array
          items:
            type: object
            properties:
              cis:
                type: integer
                title: Code CIS
              elementPharmaceutique:
                type: string
                title: Élément pharmaceutique
              codeSubstance:
                type: integer
                title: Code de substance
              denominationSubstance:
                type: string
                title: Dénomination de substance
              dosage:
                type: string
                title: Dosage
              referenceDosage:
                type: string
                title: Dosage de référence
              natureComposant:
                type: string
                title: Nature du composant
          title: Composition
        generiques:
          type: array
          items:
            type: object
            properties:
              cis:
                type: integer
                title: Code CIS
              group:
                type: integer
                title: ID de groupe générique
              libelle:
                type: string
                title: Libellé de groupe générique
            title: Génériques associés
        presentation:
          type: array
          $ref: "#/components/schemas/PresentationResponse"
          title: Présentations disponibles
        conditions:
          type: array
          items:
            type: string
          title: Conditions de prescription

    GeneriqueResponse:
      # Remove this at sunset
      type: object
      title: GeneriqueResponse
      properties:
        cis:
          type: integer
          title: Code CIS
        group:
          type: integer
          title: ID de groupe générique
        libelle:
          type: string
          title: Libellé de groupe générique

    PresentationResponse:
      type: object
      title: PresentationResponse
      properties:
        cis:
          type: integer
          title: Code CIS
        cip7:
          type: integer
          title: Code CIP-7
        libelle:
          type: string
          title: Libellé de présentation
        statusAdministratif:
          type: string
          title: Statut administratif
        etatComercialisation:
          type: string
          title: Statut de commercialisation
        dateDeclaration:
          type: string
          title: Date de déclaration
        cip13:
          type: integer
          title: Code CIP-13
        agreement:
          type: string
          title: Statut d'agrément
        tauxRemboursement:
          type: string
          title: Taux de remboursement
        prix:
          type: number
          format: float
          title: Prix

    GeneriqueListResponse:
      type: object
      title: GeneriqueListResponse
      properties:
        groupID:
          type: integer
          title: ID de groupe générique
        libelle:
          type: string
          title: Libellé de groupe générique
        medicaments:
          type: array
          items:
            title: GeneriqueMedicament
            properties:
              cis:
                type: integer
                title: Code CIS
              elementPharmaceutique:
                type: string
                title: Nom pharmaceutique
              formePharmaceutique:
                type: string
                title: Forme pharmaceutique
              type:
                type: string
                title: Type de générique
              composition:
                type: object
                title: Composition pour groupement générique
                properties:
                  elementPharmaceutique:
                    type: string
                    title: Élément pharmaceutique
                  substance:
                    type: string
                    title: Nom de substance
                  dosage:
                    type: string
                    title: Dosage
        orphanCIS:
          type:
            - array
            - "null"
          items:
            type: integer
          title: CIS orphelins
          description: |
            Liste des codes CIS référencés dans le groupe générique mais sans entrée médicament correspondante dans la base de données.
            Ces CIS n'ont pas de données détaillées disponibles (composition, forme pharmaceutique, type, etc.).
            Peut être :
            - Un tableau d'entiers : [61586325, 60473805]
            - Null : null (si le groupe ne contient aucun CIS orphelin)
    ErrorResponse:
      type: object
      title: ErrorResponse
      properties:
        error:
          type: string
          title: Statut d'erreur
        message:
          type: string
          title: Message d'erreur
        code:
          type: integer
          title: Code de statut HTTP
